[Unit]
Description=Daily Casierul clasei backup

[Timer]
OnCalendar=daily
Persistent=true
RandomizedDelaySec=15m
Unit=casierul-clasei-backup.service

[Install]
WantedBy=timers.target
